challenges/Secrets/ferox-http_saturn_picoctf_net:55187-1729693750.state
challenges/Secrets/ferox-http_saturn_picoctf_net:55187_secret_hidden_superhidden-1729693926.state
challenges/Sleuthkit_Intro/disk.img
challenges/Sleuthkit_Intro/disk.img.gz
challenges/Sleuthkit_Apprentice/disk.flag.img
challenges/Sleuthkit_Apprentice/disk.flag.img.gz
