challenges/Secrets/ferox-http_saturn_picoctf_net:55187-1729693750.state
challenges/Secrets/ferox-http_saturn_picoctf_net:55187_secret_hidden_superhidden-1729693926.state
challenges/Sleuthkit_Intro/disk.img
challenges/Sleuthkit_Intro/disk.img.gz
challenges/Sleuthkit_Apprentice/disk.flag.img
challenges/Sleuthkit_Apprentice/disk.flag.img.gz
challenges/Includes/ferox-http_saturn_picoctf_net:64160_-1729758563.state
challenges/Roboto_Sans/ferox-http_saturn_picoctf_net:54509_-1729762138.state
challenges/Operation_Orchid/disk.flag.img
challenges/Operation_Orchid/disk.flag.img.gz
challenges/Operation_Oni/disk.img.gz
challenges/Operation_Oni/disk.img
challenges/noted/code
challenges/noted/noted.tar.gz
